<header class="header">
    <input type="checkbox" id="menu" class="header__checkbox">

    <!-- Menu icon -->
    <label for="menu" class="header__menu">
        <i class="fa-solid fa-bars"></i>
    </label>

    <h2 class="header__title"><a href="/">TokyoGo!</a></h2>

    <div class="header__spacer"></div>

    <!-- Hidden menu -->
    <nav class="header__sidebar">
        <label for="menu" class="header__sidebar-close">
            <i class="fa-solid fa-xmark"></i>
        </label>

        <ul class="header__sidebar-list">
            <li><a href="/categoria"><i class="fa-solid fa-utensils"></i>Gastronomía</a></li>
            <li><a href="/categoria2"><i class="fa-solid fa-store"></i>Restaurantes</a></li>
            <li><a href="/categoria3"><i class="fa-solid fa-torii-gate"></i>Templos</a></li>
            <li><a href="/links"><i class="fa-solid fa-link"></i>Enlaces</a></li>
        </ul>
    </nav>

    <label for="menu" class="header__overlay"></label>
</header>