$fa-font-path: "../webfonts";
$fa-font-display: swap;

@use "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "@fortawesome/fontawesome-free/scss/solid.scss";
@use "@fortawesome/fontawesome-free/scss/brands.scss";